<div class="body">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-5 p-3 my-auto">
                <div class="card-login neomorphism">
                    <div class="my-2">
                    <p class="text-boas-vindas">Bem-vindo ao HiChat. <br> Basta clicar no <span class="font-weight-bold">ENTRAR</span> para começar a usar o chat.</p>
                    <!-- FORMULÁRIO -->
                    <form class="text-center">
                        <div class="form-group text-left">
                          <label for="exampleInputEmail1">Usuário</label>
                          <input type="email" class="form-control input" id="cpfLogin" placeholder="Seu email">
                        </div>
                        <div class="form-group text-left">
                          <label for="exampleInputPassword1">Senha</label>
                          <input type="password" class="form-control input" id="senhaLogin" placeholder="Sua senha">
                        </div>
                        <button class="botao" routerLink="/home">ENTRAR</button>
                      </form>
                    </div>
                </div>
                <div class="div-operacoes">
                  <span>ESQUECI MINHA SENHA</span>
                  <span>FAZER CADASTRO</span>
                </div>
            </div>
        </div>
      </div>
      
      <span class="texto-dev">Desenvolvedor: João Sena 2020 / 
        <a href="https://www.linkedin.com/in/joaovscardoso/" target="_blank">Linkedin</a> / 
        <a href="https://joaosena.com.br" target="_blank">Portfólio</a> /   
        <a href="https://github.com/Joao-Sena" target="_blank">GitHub</a>    
      </span>
      
</div>